<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
          Reset Password
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-xl='4' size-md='6' size-sm='8' offset-xl='4' offset-md='3' offset-sm='2'>
            <ion-card style="margin-top:2vh;">
              <form (ngSubmit)='onResetPwd(resetPwdForm)' #resetPwdForm='ngForm'>
                  <ion-grid>
                    <ion-row padding>
                      <ion-col *ngIf='existingRoute=="forgot-password"'>
                        <ion-item>
                          <ion-label position="floating">User Name</ion-label>
                          <ion-input type='email' name='username' [(ngModel)]='resetPwd.email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email='ngModel' required></ion-input>
                        </ion-item>
                        <div *ngIf='!email.valid && email.touched'>
                            <ion-label color='danger' *ngIf='email.errors.pattern'> Please Enter a Valid User Name!</ion-label> 
                            <ion-label color='danger' *ngIf='email.errors.required'> User Name is required!</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row padding *ngIf='existingRoute=="change-password"'>
                      <ion-col >
                        <ion-item>
                          <ion-label position="floating">Old Password</ion-label>
                          <ion-input type='password' name='oldpassword' #oldpwd='ngModel' required  [(ngModel)]='resetPwd.oldpassword'></ion-input>
                        </ion-item>
                        <div *ngIf='!oldpwd.valid && oldpwd.touched'>
                            <ion-label color='danger' *ngIf='oldpwd.errors.required'>Password is required!</ion-label>
                            <!-- <ion-label color='danger' *ngIf='pwd.errors.minlength'>Password should contain minimum 6 characters!</ion-label> -->
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row padding>
                      <ion-col>
                        <ion-item>
                          <ion-label position="floating">New Password</ion-label>
                          <ion-input type='password' name='newpassword' #pwd='ngModel' required minlength='6' [(ngModel)]='resetPwd.newpassword'></ion-input>
                        </ion-item>
                        <div *ngIf='!pwd.valid && pwd.touched'>
                            <ion-label color='danger' *ngIf='pwd.errors.required'>Password is required!</ion-label>
                            <ion-label color='danger' *ngIf='pwd.errors.minlength'>Password should contain minimum 6 characters!</ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row padding>
                        <ion-col>
                          <ion-item>
                            <ion-label position="floating"> Confirm Password</ion-label>
                            <ion-input type='password' name='confirmpassword' #cpwd='ngModel' required [(ngModel)]='resetPwd.confirmpassword'></ion-input>
                          </ion-item>
                          <div *ngIf='cpwd.touched'>
                              <ion-label color='danger' *ngIf='!cpwd.valid'>Password confirmation is required</ion-label><br/>
                              <ion-label color='danger' *ngIf='!(resetPwd.newpassword===resetPwd.confirmpassword)'>
                                  Both Password and Confirm Password should be same
                          </ion-label>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row padding>
                        <ion-col *ngIf='existingRoute=="forgot-password"'>
                          <ion-item>
                            <ion-label position="floating">OTP</ion-label>
                            <ion-input type='text' name='otp' #otp='ngModel' required  [(ngModel)]='resetPwd.otp'></ion-input>
                          </ion-item>
                          <div *ngIf='!otp.valid && otp.touched'>
                              <ion-label color='danger' *ngIf='otp.errors.required'>OTP is required!</ion-label>
                              <!-- <ion-label color='danger' *ngIf='pwd.errors.minlength'>Password should contain minimum 6 characters!</ion-label> -->
                          </div>
                        </ion-col>
                      </ion-row>
                    <ion-row padding>
                        <ion-col text-center>
                          <ion-button type='submit' [disabled]='!resetPwdForm.valid'>Change Password</ion-button>
                        </ion-col>
                      </ion-row>
                  </ion-grid>
              </form>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
