<ion-app>
   
      <ion-menu side="start" style="padding: 2em;">
          <ion-header>
            <ion-toolbar color='none'>
              <ion-title *ngIf='!isAuth'>
                Home Care Portal
              </ion-title>
              <ion-title *ngIf='isAuth' text-center text-capitalize>
                  Welcome {{loadedUserDetails?.name}}
                </ion-title>
            </ion-toolbar>
          </ion-header>
           <ion-content >
              <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                  <ion-refresher-content></ion-refresher-content>
                </ion-refresher>
              <ion-list text-center >
                <!-- <ion-menu-toggle *ngIf='isAuth' routerLink='/profile'>
                    <ion-card >
                      <ion-grid>
                        <ion-row text-center no-padding>
                          <ion-col>
                            <ion-label style="font-size: 2em;" text-capitalize><b>{{loadedUserDetails?.name}}</b></ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row text-center no-padding>
                            <ion-col>
                              <ion-label class="details" style="font-size: 1.5em;">{{loadedUserDetails?.phone}}</ion-label>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                    </ion-card>
                </ion-menu-toggle> -->
                  

                <ion-menu-toggle *ngIf='!isAuth'>
                    <!-- <ion-item> -->
                      <!-- <ion-icon name='cart' slot='start'></ion-icon>  -->
                      <ion-button color='tertiary' expand='block' routerLink="/login/sign-up" fill='outline'>Sign up</ion-button>
                    <!-- </ion-item> -->
                </ion-menu-toggle>
                <ion-menu-toggle *ngIf='!isAuth'>
                    <!-- <ion-item lines='none'> -->
                      <!-- <ion-icon name='cart' slot='start'></ion-icon>  -->
                      <ion-button color='primary' routerLink="/login" expand='block'>Login</ion-button>
                    <!-- </ion-item> -->
                </ion-menu-toggle>
                <ion-menu-toggle >
                    <ion-item lines='none' routerLink="/home">
                      <ion-icon name='home' slot='start'></ion-icon> 
                      <ion-label >Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle >
                    <ion-item lines='none' routerLink="/profile">
                      <ion-icon name='contact' slot='start'></ion-icon> 
                      <ion-label>Profile</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines='none' (click)='shareApp()'>
                      <ion-icon name="share-alt" slot="start"></ion-icon>
                      <ion-label>Share App</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle *ngIf='isAuth'>
                    <ion-item button lines='none' (click)='logout()'>
                        <ion-icon name='exit' slot='start'></ion-icon>
                        <ion-label>Logout</ion-label>
                      </ion-item>
                  </ion-menu-toggle>
                  <ion-menu-toggle>
                      <ion-item lines='none' (click)='exitApp()'>
                        <ion-icon name="power" slot="start"></ion-icon>
                        <ion-label>Exit</ion-label>
                      </ion-item>
                  </ion-menu-toggle>
              </ion-list>
            </ion-content>
          </ion-menu>

  <ion-content>
      <ion-router-outlet main></ion-router-outlet>
  </ion-content>

  <ion-footer >
    <ion-toolbar color='none'>
      <ion-title class="scroll">
        This is the dummy content for scrolling in the footer....
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-app>


  
